.column {
  border-radius: 5px;
  width: 351px;
  flex-shrink: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  max-height: 316px;
  gap: 8px;
  margin-top: 14px;
  padding-right: 10px;
  overflow-y: scroll;
}

.cards::-webkit-scrollbar {
  width: 8px;
}

.cards::-webkit-scrollbar-track {
  background: var(--board-title-wrap);
  border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--main-background-color);
  border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb:hover {
  background: var(--active-background-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
@media (min-height: 790px) {
  .cards {
    max-height: 478px;
  }
}

@media (min-height: 1024px) {
  .cards {
    max-height: 640px;
  }
}

@media (min-width: 1440px and min-height: 790px) {
  .cards {
    max-height: 478px;
  }
}
