.column {
  border-radius: 5px;
  width: 352px;
}

.cards {
  margin-right: 8px;
}

.cardsScroll {
  margin-top: 10px;
  max-height: 700px;
  overflow-y: auto;
}
.cardsScroll::-webkit-scrollbar {
  height: 600px;
  width: 8px;

  border-radius: 8px;
}

.cardsScroll::-webkit-scrollbar-track {
  background-color: var(--second-text-color);
  border-radius: 8px;
}

.cardsScroll::-webkit-scrollbar-thumb {
  background: var(--main-background-color);
  border-radius: 8px;
  height: 120px;
}

.cardsScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
