@media (min-width: 320px) {
  .wrap_title {
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--board-title-wrap);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .title {
    font-size: 18px;
    color: var(--border-title2);
    font-weight: 500;
    letter-spacing: 0.2;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 18px;
    padding: 10px;
  }
}
